body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

header {
  padding-inline: 90px;
  background-color: #ffc018;
  border-bottom: 0.8px solid rgb(22, 22, 22);
}

nav {
  font-size: 0.8rem;
  padding-block: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.logo {
  cursor: pointer;
}

header ul li {
  display: inline-flex;
}

header li {
  display: flex;
  margin-inline: 5px;
  cursor: pointer;
}

.special {
  color: rgb(239, 239, 239);
  background-color: rgb(26, 26, 26);
  padding: 10px 13px;
  border-radius: 1.5rem;
}

main.hero {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 90px;
  background-color: #ffc018;
}

.heroText {
  width: 40%;
  z-index: 1;
}

.heroText * {
  margin-block: 35px;
}

h1 {
  font-family: "Spectral", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 10rem;
  padding-top: 60px;
  letter-spacing: -9px;
  word-spacing: 8px;
  width: 120%;
}

.heroText h2 {
  font-size: 2.2rem;
}

.heroText button {
  color: rgb(239, 239, 239);
  background-color: rgb(26, 26, 26);
  padding: 15px 80px;
  border-radius: 2rem;
  margin-top: 25px;
}

.mS {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: fit-content;
  background-color: #ffc018;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .mS img {
  max-width: 100%;
  height: auto;
}
 */
section {
  border-top: 1px solid rgb(22, 22, 22);

  padding-inline: 90px;
}
.trending {
  align-items: center;
  padding-top: 50px;
  font-weight: bold;
  gap: 10px;
}
.trendingText {
  display: flex;
  align-items: center;
}

.articles {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.article {
  display: flex;
  align-items: center;
  width: 33.3%;
  padding-block: 30px;
  align-items: flex-start;
}
.article span {
  font-size: 4rem;
  font-weight: bold;
  color: #0000002c;
  cursor: pointer;
  padding-right: 15px;
}
.article img {
  border-radius: 1000rem;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  float: inline-start;
}
.articleDescription {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}
.riga1 {
  padding-top: 9px;
  font-weight: normal;
  text-wrap: nowrap;
  display: inline-block;
  font-weight: 500;
}
.riga2 {
  font-weight: bolder;
  line-height: 18px;
}
.data {
  color: #00000060;
  display: inline-block;
}
.data.in {
  margin-inline: 3px;
}
