/* style.css */

/* Font and General Styles */
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

header {
  padding-inline: 90px;
  background-color: #ffc018;
  border-bottom: 0.8px solid rgb(22, 22, 22);
}

nav {
  font-size: 0.8rem;
  padding-block: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.logo {
  cursor: pointer;
}

header ul li {
  display: inline-flex;
}

header li {
  display: flex;
  margin-inline: 5px;
  cursor: pointer;
}

.special {
  color: rgb(249, 234, 234);
  background-color: rgb(26, 26, 26);
  padding: 10px 15px;
  border-radius: 1.5rem;
}

/* Hero Section */
main.hero {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 90px;
  background-color: #ffc018;
}

.heroText {
  width: 40%;
  z-index: 1;
}

.heroText * {
  margin-block: 35px;
}

h1 {
  font-family: "Spectral", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 10rem;
  padding-top: 60px;
  letter-spacing: -9px;
  word-spacing: 8px;
  width: 120%;
}

.heroText h2 {
  font-size: 2.2rem;
}

.heroText button {
  color: rgb(239, 239, 239);
  background-color: rgb(26, 26, 26);
  padding: 15px 80px;
  border-radius: 2rem;
  margin-top: 25px;
}

/* Section Articles */
section.articles1 {
  border-top: 1px solid rgb(22, 22, 22);
  padding-inline: 90px;
}

.trending {
  align-items: center;
  padding-top: 50px;
  font-weight: bold;
  gap: 10px;
}

.trendingText {
  display: flex;
  align-items: center;
}

.articles {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.article {
  display: flex;
  align-items: center;
  width: 33.3%;
  padding-block: 30px;
  align-items: flex-start;
}

.article span {
  font-size: 4rem;
  font-weight: bold;
  color: #0000002c;
  cursor: pointer;
  padding-right: 15px;
}

.article img {
  border-radius: 1000rem;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  float: inline-start;
}

.articleDescription {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.riga1 {
  padding-top: 9px;
  font-weight: normal;
  text-wrap: nowrap;
  display: inline-block;
  font-weight: 500;
}

.riga2 {
  font-weight: bolder;
  line-height: 20px;
}
p.riga3 {
  padding-top: 6px;
}

.data {
  color: #00000060;
  display: inline-flex;
  align-items: center;
}

.data.in {
  margin-inline: 3px;
}

img.star {
  width: 20px;
  height: 20px;
  margin-inline: 4px;
}

section.articles1 {
  border-bottom: 0.5px solid #00000039;
}

/* articles2.css */

/* Articles Container */
.articlesContainer {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  overflow: hidden;
}

.testoArticolo {
  width: 65%; /* Occupa circa il 70% */
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  flex-shrink: 0;
  position: relative;
}

.immagineArticolo {
  width: 30%;
  flex-shrink: 0;
}

.immagineArticolo img {
  width: 100%;
  max-width: 250px;
  height: auto;
  object-fit: cover;
  padding-block: 28px;
}

img.article2 {
  width: 18px;
  height: 18px;
  align-self: flex-start;
  border-radius: 50%;
}

.riga2.article2 {
  font-size: 1.6rem;
  display: inline-block;
  padding-bottom: 10px;
}

.riga3 {
  color: gray;
  display: inline-block;
  padding-bottom: 10px;
}

button.specialButton {
  display: inline-block;
  color: rgba(134, 134, 134, 0.837);
  background-color: rgb(237, 237, 237);
  padding-inline: 7px;
  margin-inline-start: 7px;
  border: none;
  border-radius: 10rem;
  padding-block: 3px;
}

h4 {
  font-size: 0.8rem;
  align-self: center;
  padding-block: 10px;
}

.data.article2 {
  font-size: 0.9rem;
  display: flex;
  align-items: center;
}

.bookmark {
  position: absolute;
  right: 0;
}
section.articles {
  display: flex;
  flex-direction: column;
  padding-inline: 90px;
  padding-top: 30px;
}
